<div class="mb-3 row">
  <%= f.label column.symbolized_key, column.name, class: 'label col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <div class="form-row align-items-center mb-2">
      <%= f.fields_for column.symbolized_key, f.object.send(column.symbolized_key) do |ff| %>
        <div class="col-auto">
          <%= ff.date_field :begin, class: 'form-control', id: "#{column.symbolized_key}_begin", class_for_error: "is-invalid" %>
          <%= ff.error_message :begin, class: "invalid-feedback" %>
        </div>
        <div class="col-auto">
          ~
        </div>
        <div class="col-auto">
          <%= ff.date_field :end, class: 'form-control', id: "#{column.symbolized_key}_end", class_for_error: "is-invalid" %>
          <%= ff.error_message :end, class: "invalid-feedback" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
